<template>
    <div style="width: 100%" class="lanyardField">
        <div class="container-fluid" style="padding: 20px;">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Select your Lanyard Style and Size</h3>
                </div>
            </div>
            <div class="row scroller"  style="overflow-y: auto;max-height: 520px;padding:10px" v-if="lanyardList.length > 0">
                <div v-for="(lanyard, index) in lanyardList" :key="index" class="col-md-4" style="height:400px">
                    <div class="container-fluid lanyard-box" :class="{ highlight: lanyardStyle == lanyard.id}" style="height:350px">
                        <label>
                            <input type="radio" name="test" :value="lanyard.id" v-model="lanyardStyle">
                            <img :src="lanyard.product_images" v-if="lanyard.product_images != ''">
                            <img src="https://5.imimg.com/data5/HM/XG/MY-53233898/id-card-lanyard-500x500.jpg" v-if="lanyard.product_images == ''">
                            <br/>
                            <label class="label-text">{{ lanyard.product_name }}</label>
                            <br/>
                            <div v-if="lanyard.lanyard_sizes.length > 0">
                                <label>Job Size <span class="text-danger">*</span></label>
                                <select class="form-control" name="job_size" required v-model="lanyardSize">
                                    <option v-for="size in lanyard.lanyard_sizes" :key="size.id" :value="size.id" :selected="sizeIndex">{{ size.lanyard_fitting_size }}</option>
                                </select>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 80px;">
            <div class=" btn_previous_rec">
                <Previous :savePrevious="moveprevious" :isPrevious="showPrevious">
                    <i class="arrow_grey"></i>
                </Previous>
            </div>
            <div class="bottom_button">
                <ButtonNoBackground :btnclass="['btn_nobg']" :save="skip">
                    Skip
                </ButtonNoBackground>
            </div>
            <Button :save="nextField" :btnclass="['btn1', 'btn_next_rec', 'btn_next2']" v-if="lanyardStyle">
                <template #icon> Next <i class="zmdi zmdi-arrow-left"></i> </template>
            </Button>
        </div>
    </div>
</template>
<script>
import Previous from 'vueBasePath/components/common/Previous.vue';
import Button from 'vueBasePath/components/common/Button.vue';
import ButtonNoBackground from 'vueBasePath/components/common/ButtonNoBackground.vue';
import axios from 'axios';

axios.defaults.xsrfCookieName = 'csrftoken';
axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';

const apiClient = axios.create({
    baseURL: 'https://excelidcardsolutions.com/api/',
    withCredentials: false, // This is the default
    headers: {
        Accept: 'application/json',
        'Content-Type': 'application/json'
    }
});


export default {
    components: {
        Button,
        Previous,
        ButtonNoBackground
    },
    data() {
        return {
            lanyardList: [],
            lanyardListFiltered: [],
            lanyardStyle: '',
            sizeIndex: 0,
            lanyardSize: '1'
        }
    },
    computed: {
        showPrevious: function() {
            return this.$store.state.previous;
        },
    },
    methods: {
        moveprevious() {
            this.$store.dispatch('previous');
        },
        nextField() {
            this.$store.dispatch('loaderAction', true);
            this.$store.dispatch('lanyardblock/setlanyardName', this.lanyardStyle);
            this.$store.dispatch('lanyardblock/setLanyardSize', this.lanyardSize);
            this.$store.dispatch('loaderAction', false);
            this.$store.dispatch('next');
        },
        skip() {},
    },
    // Validations: () {
    // }
    created() {
        this.$store.dispatch('loaderAction', true);
        apiClient.get(`${process.env.MIX_VUE_APP_ENV_URL}project/lanyard/list`).then( res => {
            if (res.status == 200 || res.status == 201) {
                this.lanyardList = res.data;
                console.log(this.lanyardList);
                this.$store.dispatch('loaderAction', false);
            }
        }).catch(err => {
            this.$store.dispatch('loaderAction', false);
        });
    }
}
</script>
<style></style>