<template>
    <div style="width: 100%" class="lanyardField">
        <div class="container-fluid" style="padding: 20px;">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Select one of the Lanyard Size</h3>
                </div>
            </div>
            <div class="row scroller"  style="overflow-y: auto;max-height: 520px;padding:10px"  >
                <div v-for="(lanyard, index) in lanyardSizes" :key="index" class="col-md-3">
                   <label>{{ lanyard.lanyard_fitting_size }}</label>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 80px;">
            <div class=" btn_previous_rec">
                <Previous :savePrevious="moveprevious" :isPrevious="showPrevious">
                    <i class="arrow_grey"></i>
                </Previous>
            </div>
            <div class="bottom_button">
                <ButtonNoBackground :btnclass="['btn_nobg']" :save="skip">
                    Skip
                </ButtonNoBackground>
            </div>
            <Button :save="nextField" :btnclass="['btn1', 'btn_next_rec', 'btn_next2']" v-if="lanyardSelectedSize">
                <template #icon> Next <i class="zmdi zmdi-arrow-left"></i> </template>
            </Button>
        </div>
    </div>
</template>
<script>
import Previous from 'vueBasePath/components/common/Previous.vue';
import Button from 'vueBasePath/components/common/Button.vue';
import ButtonNoBackground from 'vueBasePath/components/common/ButtonNoBackground.vue';
import axios from 'axios';

axios.defaults.xsrfCookieName = 'csrftoken';
axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';

const apiClient = axios.create({
    baseURL: 'https://excelidcardsolutions.com/api/',
    withCredentials: false, // This is the default
    headers: {
        Accept: 'application/json',
        'Content-Type': 'application/json'
    }
});


export default {
    components: {
        Button,
        Previous,
        ButtonNoBackground
    },
    data() {
        return {
            lanyardSizes: [],
            lanyardSelectedSize: ''
        }
    },
    computed: {
        showPrevious: function() {
            return this.$store.state.previous;
        },
    },
    methods: {
        moveprevious() {
            this.$store.dispatch('previous');
        },
        nextField() {
            this.$store.dispatch('loaderAction', true);
            this.$store.dispatch('lanyardblock/setLanyardSize', this.lanyardSelectedSize);
            this.$store.dispatch('loaderAction', false);
            this.$store.dispatch('next');
        },
        skip() {},
    },
    // Validations: () {
    // }
    created() {
        const selectLanyard = this.$store.getters['lanyardblock/lanyardData'];
        this.$store.dispatch('loaderAction', true);
        apiClient.get(`${process.env.MIX_VUE_APP_ENV_URL}project/lanyard/${selectLanyard}/size/list`).then( res => {
            if (res.status == 200 || res.status == 201) {
                this.lanyardSizes = res.data;
                console.log('Size Data', res.data);
                this.$store.dispatch('loaderAction', false);
            }
        }).catch(err => {
            this.$store.dispatch('loaderAction', false);
        });
    }
}
</script>
<style></style>