<template>
    <div v-if="canviData">
        <canvas id="myCanvas" style="background:grey;margin:5px auto;" width="650" height="408"></canvas>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue'
    export default Vue.extend({
        data() {
            return {
                canvas: null,
            }
        },
        props: {
            canviData: {
                type: Object,
                required: true
            }
        },
        mounted() {
           

        },
        methods: {
            
        }
    })
</script>
<style scoped>

</style>