<template>
    <div style="width: 100%">
        <div class="container-fluid" style="padding: 10px">
             <!-- <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Customization</h3>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-4 scroller"
                    style="overflow-y: scroll; height: 520px; max-height: 520px; background: #d0c9c95e">
                    <ul>
                        <li v-for="(textA, index) in textData" :key="index">
                            <div class="form-group">
                                <label>Text {{ index + 1 }}</label>
                                <input type="text" class="form-control" v-model="textA.text"
                                    @blur="onInput($event, true)" />
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li v-for="(image, index) in canvasData.data1.images" :key="index">
                            <div class="form-group">
                                <label>Image {{ index + 1 }}</label>
                                <input type="file" class="form-control" v-on:change="onFileChange($event, index)" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8" style="display: flex">
                    <canvas id="myCanvas2" style="background:grey;margin:5px auto;"></canvas>
                </div>
            </div>

        </div>
        <div class="row" style="margin-top: 80px;">
            <div class=" btn_previous_rec" v-if="showPrevious">
                <Previous :savePrevious="moveprevious" :isPrevious="showPrevious">
                    <i class="arrow_grey"></i>
                </Previous>
            </div>
            <Button :save="nextField" :btnclass="['btn1', 'btn_next_rec', 'btn_next2']">
                <template #icon> Next <i class="zmdi zmdi-arrow-left"></i> </template>
            </Button>
        </div>
    </div>
</template>

<script>
import Previous from '../common/Previous.vue';
import Button from '../common/Button.vue';
import Canvasdesign from './Canvasdesign.vue';
import axios from 'axios';

axios.defaults.xsrfCookieName = 'csrftoken';
axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';

const apiClient = axios.create({
    baseURL: `${process.env.MIX_VUE_APP_ENV_URL}`,
    withCredentials: false, // This is the default
    headers: {
        Accept: 'application/json',
        'Content-Type': 'application/json'
    }
});

    export default {
        components: {
            Canvasdesign,
            Button,
            Previous
        },
        props: {
            canvasData: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                textData: this.canvasData.data2.text,
                canvas: null,
                copydata: Object.assign(this.canvasData),
                firstRender: null,
            }
        },
        computed: {
            showPrevious: function () {
                return this.$store.state.previous;
            },
        },
        mounted() {
            let data = this.canvasData;
            this.canvas2 = document.getElementById("myCanvas2");
            this.canvas2.width = data.canvasWidth * 2;
            this.canvas2.height = data.canvasHeight * 2;
            this.firstRender = true;
            this.createCanvas2();
        },
        methods: {
            createCanvas2() {
                var that = this;
                let data = this.canvasData;
                let copyData = this.copydata;
                let firstRender = this.firstRender;
                let context = this.canvas2.getContext('2d');
                let templateLayout = new Image();
                let wrapText = this.wrapText;
                let createCanvas2 = this.createCanvas2;
                let lineHeight = 20;
                let maxWidth = 200;
                let fontFamily = this.fontName;
                templateLayout.src = data.canvasTemplate2;
                templateLayout.onload = function () {
                    context.drawImage(templateLayout, 0, 0, data.canvasWidth * 2, data.canvasHeight * 2);
                    data.data2.images.forEach((imgObj, index) => {
                        // if (firstRender || copyData.images[index].src != data.images[index].src) {
                        that.firstRender = false;
                        let img = new Image();
                        img.src = imgObj.src;
                        img.onload = function () {
                            context.drawImage(img, imgObj.xAxis, imgObj.yAxis, imgObj.width, imgObj
                                .height);
                        }
                        // }
                    });
                    data.data2.text.forEach((textObj) => {
                        context.fillStyle = textObj.color;
                        context.font = textObj.fontSize + "px " +  fontFamily;
                        // context.fillText(textObj.text, textObj.xAxis, textObj.yAxis)
                        wrapText(context, textObj.text, textObj.xAxis, textObj.yAxis, textObj.maxWidth,
                            lineHeight);
                    });
                }

            },
            createImageCanvas() {},
            createTextCanvas() {},
            wrapText(context, text, x, y, maxWidth, lineHeight) {
                var words = text.split(' ');
                var line = '';

                for (var n = 0; n < words.length; n++) {
                    var testLine = line + words[n] + ' ';
                    var metrics = context.measureText(testLine);
                    var testWidth = metrics.width;
                    if (testWidth > maxWidth && n > 0) {
                        context.fillText(line, x, y);
                        line = words[n] + ' ';
                        y += lineHeight;
                    } else {
                        line = testLine;
                    }
                }
                context.fillText(line, x, y);
            },
            onInput(value) {
                this.createCanvas2();
            },
            nextField() {
                console.log('................', this.$store.state.customizationblock.display2);
                // localStorage.setItem('activeField', 'customizationBack');
                // localStorage.setItem('customizationBackData', JSON.stringify(this.canvasData.data2));
                // this.$store.state.customizationblock.display2 = false;
                // this.$store.state.summaryblock.display = true;
                // // this.$store.state.addonsblock.display = true;
                // this.$store.state.activeBlock = 'summaryblock';
                // this.$store.state.activeBlock = 'addons';
                // this.$store.dispatch('customizationblock/setCustomizationBackData', this.canvasData.data2);
                // this.$store.dispatch('customizationblock/setBackSaved', true);
                // this.$store.dispatch('customizationblock/setBlockSaved', true);
                // this.$store.dispatch('next');
                let formData = {
                    data2: this.canvasData.data2,
                };
                this.$store.dispatch('loaderAction', true);
                let pid = localStorage.getItem('projectId');
                apiClient.patch(`${process.env.MIX_VUE_APP_ENV_URL}project/design/${pid}/customization/save`, formData)
                .then(res => {
                    if (res.status == 200 || res.status == 201) {
                        this.$store.dispatch('customizationblock/setCustomizationBackData', this.canvasData.data2);
                        this.$store.dispatch('customizationblock/setBackSaved', true);
                        this.$store.dispatch('customizationblock/setBlockSaved', true);
                        this.$store.dispatch('loaderAction', false);
                        this.$store.dispatch('next');
                    }
                }).catch(error => {
                    this.$store.dispatch('loaderAction', false);
                    console.log(error, 'Error');
                });
            },
            moveprevious() {
                this.$store.dispatch('previous');
            },
            onFileChange(e, index) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
        }
    }
</script>

<style lang="scss" scoped>
</style>