<template>
    <div style="width: 100%">
        <div class="container-fluid" style="padding: 10px">
             <!-- <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Customization</h3>
                </div>
            </div> -->
             <div class="row" style="height: 70vh">
                <div class="col-md-2 scroller"
                    style="overflow-y: scroll; height: 70vh; background: #d0c9c95e">
                   <ul>
                        <li v-for="(textA, index) in textData" :key="index">
                            <div class="form-group">
                                <label>Text {{ index + 1 }}</label>
                                <input type="text" class="form-control" v-model="textA.text"
                                    @blur="onInput($event, true)" />
                                <label for="'fontSizeRange'(index+1)" class="form-label">Font Size</label>
                                <input type="range" class="form-range" min="0" max="100" v-model="textA.fontSize" id="'fontSizeRange'(index+1)" @change="onInput($event, true)"  style="color: red">
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li v-for="(image, index) in canvasData.data1.images" :key="index">
                            <div class="form-group">
                                <label>Image {{ index + 1 }}</label>
                                <input type="file" class="form-control" accept="image/*" v-on:change="onFileChange($event, index)" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <canvas id="myCanvas" crossorigin="anonymous"  style="background:grey;margin:5px auto; height: 70vh !important"></canvas>
                </div>
            </div>

        </div>
        <div class="row" style="margin-top: 80px;">
            <Button :save="nextField" :btnclass="['btn1', 'btn_next_rec', 'btn_next2']">
                <template #icon> Next <i class="zmdi zmdi-arrow-left"></i> </template>
            </Button>
        </div>
    </div>
</template>

<script>
import Previous from '../common/Previous.vue';
import Button from '../common/Button.vue';
import Canvasdesign from './Canvasdesign.vue';
import axios from 'axios';

axios.defaults.xsrfCookieName = 'csrftoken';
axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';

const apiClient = axios.create({
    baseURL: `${process.env.MIX_VUE_APP_ENV_URL}`,
    withCredentials: false, // This is the default
    headers: {
        Accept: 'application/json',
        'Content-Type': 'application/json'
    }
});

    export default {
        components: {
            Canvasdesign,
            Button,
            Previous
        },
        props: {
            canvasData: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                textData: this.canvasData.data1.text,
                canvas: null,
                copydata: Object.assign(this.canvasData),
                firstRender: null,
                product: null,
                canvasUrl: ''
            }
        },
        computed: {
            showPrevious: function () {
                return this.$store.state.customizationblock.disablePrevious;
            },
        },
        mounted() {
            this.product = this.$store.getters['productDetail'];
            let data = this.canvasData;
            this.canvas = document.getElementById("myCanvas");
            this.canvas.width = data.canvasWidth * 2;
            this.canvas.height = data.canvasHeight * 2;
            this.firstRender = true;
            this.renderFont();
            this.createCanvas();
        },
        methods: {
            createCanvas() {
                var that = this;
                let data = this.canvasData;
                let copyData = this.copydata;
                let firstRender = this.firstRender;
                let context = this.canvas.getContext('2d');
                let templateLayout = new Image();
                let wrapText = this.wrapText;
                let createCanvas = this.createCanvas;
                let lineHeight = 20;
                let maxWidth = 200;
                let fontFamily = this.fontName;
                templateLayout.src = data.canvasTemplate1;
                templateLayout.onload = function () {
                    context.drawImage(templateLayout, 0, 0, data.canvasWidth * 2, data.canvasHeight * 2);
                    data.data1.images.forEach((imgObj, index) => {
                        // if (firstRender || copyData.images[index].src != data.images[index].src) {
                        that.firstRender = false;
                        let img = new Image();
                        img.src = imgObj.src;
                        img.onload = function () {
                            context.drawImage(img, imgObj.xAxis, imgObj.yAxis, imgObj.width, imgObj
                                .height);
                        }
                        img.crossOrigin = 'Anonymous';
                        // }
                    });
                    data.data1.text.forEach((textObj) => {
                        context.fillStyle = textObj.color;
                        context.font = textObj.fontSize + "px " +  fontFamily;
                        // context.fillText(textObj.text, textObj.xAxis, textObj.yAxis)
                        wrapText(context, textObj.text, textObj.xAxis, textObj.yAxis, textObj.maxWidth,
                            lineHeight);
                    });
                }

            },
            createImageCanvas() {},
            createTextCanvas() {},
            wrapText(context, text, x, y, maxWidth, lineHeight) {
                var words = text.split(' ');
                var line = '';

                for (var n = 0; n < words.length; n++) {
                    var testLine = line + words[n] + ' ';
                    var metrics = context.measureText(testLine);
                    var testWidth = metrics.width;
                    if (testWidth > maxWidth && n > 0) {
                        context.fillText(line, x, y);
                        line = words[n] + ' ';
                        y += lineHeight;
                    } else {
                        line = testLine;
                    }
                }
                context.fillText(line, x, y);
            },
            onInput(value) {
                this.createCanvas();
            },
            nextField() {
                let session_id = this.$store.state.sessionData;
                let userData = this.$store.state.userData || null;
                let designId = this.$store.getters['customizationblock/customizationOData'].id || null;
                let designData = this.canvasData.data1;
                let productId = this.product ? this.product.id : '';
                // let formData = new FormData();
                let formData = {
                    session_id:  session_id,
                    user_id:  userData ? userData.id : '',
                    data: this.canvasData.data1,
                    product_id:  productId,
                    design_id:  designId,
                };
                this.$store.dispatch('loaderAction', true);
                apiClient.post(`${process.env.MIX_VUE_APP_ENV_URL}project/design/customization/save`, formData)
                .then(res => {
                    if (res.status == 200 || res.status == 201) {
                        this.$store.dispatch('customizationblock/setCustomizationFrontData', this.canvasData.data1);
                        this.$store.dispatch('customizationblock/setFrontSaved', true);
                        if (this.canvasData.viewType == 1) {
                            this.$store.dispatch('customizationblock/setCustomizationBackData', true);
                            this.$store.dispatch('customizationblock/setBackSaved', true);
                            this.$store.dispatch('customizationblock/setBlockSaved', true);
                        }
                        this.$store.dispatch('loaderAction', false);
                        localStorage.setItem('projectId', res.data.id);
                        this.$store.dispatch('next');
                    }
                }).catch(error => {
                    this.$store.dispatch('loaderAction', false);
                    console.log(error, 'Error');
                });

            },
            moveprevious() {},
            onFileChange(e, index) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0], index);
            },
            renderFont() {
                let node = document.createElement('link'); // creates the script tag
                node.href = this.canvasData.fontUrl; // sets the source (insert url in between quotes)
                node.rel = 'rel="stylesheet"'; // makes script run asynchronously
                document.getElementsByTagName('head')[0].appendChild(node);
            },
            createImage(file, index) {
                this.canvasData.data1.images[index].src = URL.createObjectURL(file);
                console.log(this.canvasData.data1.images[index]);
                this.createCanvas();
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>
