$white: #fff;
$headingcolor: #323b51;
$font-family: 'PT Sans';
$blue-border: #8c9aeb;
$base_grey: #f9f9f9;
$grey_icon: #9494a1;
$grey_dark: #303e4b;
$grey_light: #505e6b;
$grey_border: #e7e7e7;
$grey_label: #798590;
$grey_text: #0d4f90;
$font-weight: 400;
$font-size: 13px;
$box-shadow: 0 0 12px 0 rgba(132, 132, 132, 0.3);
$anchor-color: #5364c4;
$error: #d03b37;
$light-blue: #e6fdff;
$purple: #4c56df;
$lightest_grey: #6d7883;
$green: #93c989;
$font-family-material: Material-Design-Iconic-Font;
$font-family_new: 'PT Sans', sans-serif;


.base {
    // box-shadow: $box-shadow;
    width: 100%;
    min-height: 70vh;
    margin: 50px auto;
    // justify-content: center;
    overflow: hidden;
}
.base1 {
    margin: 20px auto;
    // display: flex;
    width: 100vw;
    // flex-direction: row;
    // justify-content: center;
    overflow: hidden;
    height:70vh;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-start {
    align-content: flex-start;
}

.w-40 {
    width: 40%;
}

.w-48 {
    width: 48%;
}

.h-100 {
    height: 100%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-70 {
    width: 70%;
}

.w20 {
    width: 20%;
}

.w-100 {
    width: 100% !important;
}

.flex-100 {
    flex: 0 0 100%;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.p40 {
    padding: 40px;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.pt-60 {
    padding-top: 60px;
}

.align-self-end {
    align-self: flex-end;
}

.float-left {
    float: left;
}

.relative {
    position: relative;
}

.flex-grow {
    flex-grow: 1;
}

.pl-17 {
    padding-left: 17px;
}

.pl-40 {
    padding-left: 40px;
}

.anhcor {
    color: $anchor-color !important;
    padding: 10px !important;
}

.ml-10 {
    margin-left: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.pt-61 {
    padding-top: 61px;
}

.relative {
    position: relative;
}

.social {
    font-size: 13px;
    color: $grey_light;

    li {
        border: solid 1px $grey_border;
        border-radius: 4px;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        font-size: 14px;

        a {
            color: $grey_light;
        }
    }
}

.clear-both {
    clear: both;
}

.grey-color {
    color: $grey_light;
}

.success_color {
    color: $green;
}

.font-0-8rem {
    font-size: 0.8rem;
}

.password_base {
    background: #fbfbff;
    border: solid 1px #e0e3fc;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 5px 0 0 0;
    padding: 10px;
    justify-content: space-between;

    span {
        width: 48%;
        color: #505e6b;
        margin: 2px 0;
    }

    .applied {
        display: inline-flex;
        align-items: center;

        &:before {
            content: '\2713';
            width: 10px;
            height: 10px;
            line-height: 11px;
            margin-right: 5px;
            font-size: 12px;

            color: #21bd38;
        }
    }

    .error_message {
        color: #505e6b;

        &:before {
            content: '\2715';
            width: 10px;
            height: 10px;
            line-height: 11px;
            margin-right: 5px;
            font-size: 10px;

            color: #f4615f;
        }
    }
}

.Legal {
    width: 878px;
    margin: -30px auto 20px;
    background: #fff;
    padding: 5px 10px;
    bottom: 10px;
    font-size: 11px;
    box-shadow: 0 0 12px 0 rgba(132, 132, 132, 0.3);
    color: #6e7884;
}


.btn1 {
    /* Surface [9 15 9 20]: */
    background-image: linear-gradient(-136deg, #a194dd 0%, #80aad7 100%);
    box-shadow: $box-shadow;
    border-radius: 4px;
    font-size: 1.1rem;
    color: $white;
    border: none;
    width: 120px;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    margin: 0 97px 0 0;
    float: right;

    &:after {
        width: 18px;
        height: 20px;
        content: '';
        display: inline-block;
    }
}

.bottom_button {
    position: absolute;
    right: 132px;
    bottom: 25px;
    width: 340px;
    font-family: $font-family_new;
    font-weight: bold;
    color: $grey_label;
    text-align: right;
}

.btn_nobg {
    background: none !important;
    border: none !important;
    box-shadow: none;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 5px;
    color: $anchor-color;
    outline: none;
    cursor: pointer;
}

.btn_nobg1 {
    font-size: 13px;
    text-align: left;
}

.zmdi {
    display: inline-block;
    font: normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn_next {
    box-shadow: $box-shadow;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: linear-gradient(136deg, #157f1f 0%, #61be66 100%);
    position: absolute;
    right: 25px;
    bottom: 19px;
}

.btn_next_rec {
    box-shadow: $box-shadow;
    background: linear-gradient(136deg, #157f1f 0%, #61be66 100%);
    position: absolute;
    right: -60px;
    bottom: 20px;
    width: 78px;
    padding: 3px 7px 7px 7px;
    font-size: 1rem;
    outline: none;
}

.btn_previous {
    box-shadow: $box-shadow;
    width: 38px;
    height: 38px;
    background: $white;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    bottom: 15px;
}

.btn_previous_rec {
    box-shadow: $box-shadow;
    color: $lightest_grey;
    background: $white;
    position: absolute;
    left: 25px;
    bottom: 20px;
    border-radius: 4px;
    font-size: 1.1rem;
    justify-content: center;
    cursor: pointer;
    padding: 6px 7px 5px 7px;
    margin: 4px 97px 0 0;
    width: 133px;
    outline: none;

    .zmdi {
        font-family: $font-family;
        font-size: 1rem;
    }
}

.arrow {
    content: '';
    width: 26px;
    height: 23px;
    margin: 5px auto 0 12px;
    display: block;
}

.arrow_grey {
    display: inline-block;
    float: left;
    content: '';
    width: 26px;
    height: 23px;
}

.stepping {
    margin-top:30px;
    padding:15px;
    width:100%;

    .activeStepp_left {
        border-color: #157f1f #157f1f #157f1f transparent !important;
    }

    .activeStepp_main {
        background-color: #157f1f !important;
    }

    .activeStepp_right {
        border-color: transparent transparent transparent #157f1f !important;
    }

    ul {
        width:100%;
        display:table;
        table-layout:fixed;
        border-collapse:collapse;

        li {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            padding: 0 5px;

            .arrow-left {
                border-color: #7be0ad #7be0ad #7be0ad transparent;
            }

            .arrow-right {
                border-color: transparent transparent transparent #7be0ad
            }

            .block {
                width: 80%;
                float: left;
                height: 60px;
                padding: 10px 0 0 10px;
                font-weight: bolder;
                background-color: #7be0ad;
                color: #fff;
                margin: 0 auto;
                font-size: 20px;
                text-transform: uppercase
            }
        }
    }
}

.lanyardField {
    ::-webkit-scrollbar {
        display: none;
    }
    [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
  
    /* IMAGE STYLES */
    [type=radio] + img {
        cursor: pointer;
    }
    
    /* CHECKED STYLES */
    // [type=radio]:checked + img {
    //     outline: 2px solid #f00;
    // }

    .highlight {
        border: 2px solid lightblue;
    }
    // .radio-toolbar {
    //     input[type='radio'] {
    //         display: none;
    //     }
    
    //     label {
    //         background-color: $white;
    //         border-radius: 5px;
    //         box-shadow: $box-shadow;
    //         flex-basis: 44%;
    //         padding: 10px 3%;
    //         color: $grey_dark;
    //         position: relative;
    
    //         span {
    //             width: 38px;
    //             height: 34px;
    //             content: '';
    //             margin: 0 5px 0 5px;
    //         }
    //     }
    
    //     &.education {
    //         label {
    //             flex-basis: 25% !important;
    
    //             &.corres {
    //                 flex-basis: 38% !important;
    //             }
    //         }
    //     }
    // }
    
    // .radio-toolbar input[type='radio']:focus + label {
    //     background-color: $light-blue;
    //     font-weight: $font-weight + 300;
    // }
    
    // .radio-toolbar {
    //     label {
    //         &.highlight {
    //             background-color: $light-blue;
    //             font-weight: $font-weight + 300;
    
    //             .tick_base {
    //                 display: block;
    //             }
    //         }
    //         &.highlight1 {
    //             background-color: $light-blue;
    //             font-weight: $font-weight + 300;
    
    //             .tick_base {
    //                 display: block;
    //             }
    //         }
    //     }
    // }
    .lanyard-box {
        display: inline-block;
        background-color: #fff;
        padding: 20px 20px;
        font-family: "PT Sans";
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0 0 12px 0 rgba(132, 132, 132, 0.3);
        flex-basis: 170px;
        margin-top: 20px;
        text-align: center;
        position: relative;

        .label-text {
            text-align:center;
            text-transform: uppercase;
        }

        img {
            height:150px;
            width:100%
        }
    }
}

.summaryPage {
        .border-grey {
            border-color:grey;

            &:focus { 
                outline: none !important;
                border-color: grey;
            }
        }

    select {
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
    }
    .error-label {
        input[type='text'],
        input[type='number'],
        input[type='email'],
        input[type='tel'],
        input[type='password'] {
            border: solid 1px $error;
            background: $base_grey;
        }

        label {
            color: $error;
        }
    }
    .width-100 {
        width: 100px !important;
    }
}

input.form-range {
    accent-color: #157f1f;
    border: solid 1px #157f1f;
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
}

// .customizationLeftPanel {
//     height: 80vh;
// }