@charset "UTF-8";

.base {
  width: 100%;
  min-height: 70vh;
  margin: 50px auto;
  overflow: hidden;
}

.base1 {
  margin: 20px auto;
  width: 100vw;
  overflow: hidden;
  height: 70vh;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-start {
  align-content: flex-start;
}

.w-40 {
  width: 40%;
}

.w-48 {
  width: 48%;
}

.h-100 {
  height: 100%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-70 {
  width: 70%;
}

.w20 {
  width: 20%;
}

.w-100 {
  width: 100% !important;
}

.flex-100 {
  flex: 0 0 100%;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.p40 {
  padding: 40px;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.pt-60 {
  padding-top: 60px;
}

.align-self-end {
  align-self: flex-end;
}

.float-left {
  float: left;
}

.relative {
  position: relative;
}

.flex-grow {
  flex-grow: 1;
}

.pl-17 {
  padding-left: 17px;
}

.pl-40 {
  padding-left: 40px;
}

.anhcor {
  color: #5364c4 !important;
  padding: 10px !important;
}

.ml-10 {
  margin-left: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.pt-61 {
  padding-top: 61px;
}

.relative {
  position: relative;
}

.social {
  font-size: 13px;
  color: #505e6b;
}

.social li {
  border: solid 1px #e7e7e7;
  border-radius: 4px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.social li a {
  color: #505e6b;
}

.clear-both {
  clear: both;
}

.grey-color {
  color: #505e6b;
}

.success_color {
  color: #93c989;
}

.font-0-8rem {
  font-size: 0.8rem;
}

.password_base {
  background: #fbfbff;
  border: solid 1px #e0e3fc;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 5px 0 0 0;
  padding: 10px;
  justify-content: space-between;
}

.password_base span {
  width: 48%;
  color: #505e6b;
  margin: 2px 0;
}

.password_base .applied {
  display: inline-flex;
  align-items: center;
}

.password_base .applied:before {
  content: "✓";
  width: 10px;
  height: 10px;
  line-height: 11px;
  margin-right: 5px;
  font-size: 12px;
  color: #21bd38;
}

.password_base .error_message {
  color: #505e6b;
}

.password_base .error_message:before {
  content: "✕";
  width: 10px;
  height: 10px;
  line-height: 11px;
  margin-right: 5px;
  font-size: 10px;
  color: #f4615f;
}

.Legal {
  width: 878px;
  margin: -30px auto 20px;
  background: #fff;
  padding: 5px 10px;
  bottom: 10px;
  font-size: 11px;
  box-shadow: 0 0 12px 0 rgba(132, 132, 132, 0.3);
  color: #6e7884;
}

.btn1 {
  /* Surface [9 15 9 20]: */
  background-image: linear-gradient(-136deg, #a194dd 0%, #80aad7 100%);
  box-shadow: 0 0 12px 0 rgba(132, 132, 132, 0.3);
  border-radius: 4px;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  width: 120px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  margin: 0 97px 0 0;
  float: right;
}

.btn1:after {
  width: 18px;
  height: 20px;
  content: "";
  display: inline-block;
}

.bottom_button {
  position: absolute;
  right: 132px;
  bottom: 25px;
  width: 340px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #798590;
  text-align: right;
}

.btn_nobg {
  background: none !important;
  border: none !important;
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 5px;
  color: #5364c4;
  outline: none;
  cursor: pointer;
}

.btn_nobg1 {
  font-size: 13px;
  text-align: left;
}

.zmdi {
  display: inline-block;
  font: normal 14px/1 "Material-Design-Iconic-Font";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn_next {
  box-shadow: 0 0 12px 0 rgba(132, 132, 132, 0.3);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: linear-gradient(136deg, #157f1f 0%, #61be66 100%);
  position: absolute;
  right: 25px;
  bottom: 19px;
}

.btn_next_rec {
  box-shadow: 0 0 12px 0 rgba(132, 132, 132, 0.3);
  background: linear-gradient(136deg, #157f1f 0%, #61be66 100%);
  position: absolute;
  right: -60px;
  bottom: 20px;
  width: 78px;
  padding: 3px 7px 7px 7px;
  font-size: 1rem;
  outline: none;
}

.btn_previous {
  box-shadow: 0 0 12px 0 rgba(132, 132, 132, 0.3);
  width: 38px;
  height: 38px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  bottom: 15px;
}

.btn_previous_rec {
  box-shadow: 0 0 12px 0 rgba(132, 132, 132, 0.3);
  color: #6d7883;
  background: #fff;
  position: absolute;
  left: 25px;
  bottom: 20px;
  border-radius: 4px;
  font-size: 1.1rem;
  justify-content: center;
  cursor: pointer;
  padding: 6px 7px 5px 7px;
  margin: 4px 97px 0 0;
  width: 133px;
  outline: none;
}

.btn_previous_rec .zmdi {
  font-family: "PT Sans";
  font-size: 1rem;
}

.arrow {
  content: "";
  width: 26px;
  height: 23px;
  margin: 5px auto 0 12px;
  display: block;
}

.arrow_grey {
  display: inline-block;
  float: left;
  content: "";
  width: 26px;
  height: 23px;
}

.stepping {
  margin-top: 30px;
  padding: 15px;
  width: 100%;
}

.stepping .activeStepp_left {
  border-color: #157f1f #157f1f #157f1f transparent !important;
}

.stepping .activeStepp_main {
  background-color: #157f1f !important;
}

.stepping .activeStepp_right {
  border-color: transparent transparent transparent #157f1f !important;
}

.stepping ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

.stepping ul li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0 5px;
}

.stepping ul li .arrow-left {
  border-color: #7be0ad #7be0ad #7be0ad transparent;
}

.stepping ul li .arrow-right {
  border-color: transparent transparent transparent #7be0ad;
}

.stepping ul li .block {
  width: 80%;
  float: left;
  height: 60px;
  padding: 10px 0 0 10px;
  font-weight: bolder;
  background-color: #7be0ad;
  color: #fff;
  margin: 0 auto;
  font-size: 20px;
  text-transform: uppercase;
}

.lanyardField {
  /* IMAGE STYLES */
  /* CHECKED STYLES */
}

.lanyardField ::-webkit-scrollbar {
  display: none;
}

.lanyardField [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.lanyardField [type=radio] + img {
  cursor: pointer;
}

.lanyardField .highlight {
  border: 2px solid lightblue;
}

.lanyardField .lanyard-box {
  display: inline-block;
  background-color: #fff;
  padding: 20px 20px;
  font-family: "PT Sans";
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 rgba(132, 132, 132, 0.3);
  flex-basis: 170px;
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.lanyardField .lanyard-box .label-text {
  text-align: center;
  text-transform: uppercase;
}

.lanyardField .lanyard-box img {
  height: 150px;
  width: 100%;
}

.summaryPage .border-grey {
  border-color: grey;
}

.summaryPage .border-grey:focus {
  outline: none !important;
  border-color: grey;
}

.summaryPage select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

.summaryPage .error-label input[type=text],
.summaryPage .error-label input[type=number],
.summaryPage .error-label input[type=email],
.summaryPage .error-label input[type=tel],
.summaryPage .error-label input[type=password] {
  border: solid 1px #d03b37;
  background: #f9f9f9;
}

.summaryPage .error-label label {
  color: #d03b37;
}

.summaryPage .width-100 {
  width: 100px !important;
}

input.form-range {
  accent-color: #157f1f;
  border: solid 1px #157f1f;
  border-radius: 8px;
  height: 7px;
  width: 356px;
  outline: none;
  transition: background 450ms ease-in;
}


