.overlay_loader {
  display: none;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
}

.overlay_loader--visible {
  display: block !important;
  pointer-events: all;
}

.overlay_loader .container {
  height: 100vh;
  width: 100vw;
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: solid 1px #7f7f7f;
}

.loader--dot:first-child {
  background-color: #ecf3fa;
  animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
  background-color: #d9eafd;
  animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
  background-color: #ccddfc;
  animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
  background-color: #bfd5fe;
  animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
  background-color: #a2f7c6;
  animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
  background-color: #a2f7c6;
  animation-delay: 0s;
}

.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}

.loader--text:after {
  content: 'Loading';
  font-weight: normal;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }

  45% {
    transform: translateX(230px);
  }

  65% {
    transform: translateX(230px);
  }

  95% {
    transform: translateX(0);
  }
}

@keyframes loading-text {
  0% {
    content: 'Loading';
  }

  25% {
    content: 'Loading.';
  }

  50% {
    content: 'Loading..';
  }

  75% {
    content: 'Loading...';
  }
}


