<template>
    <!-- <div style="width: 100%"> -->
    <div class="container" style="padding: 10px">
        <div class="row addonsPage">
            <div class="col-md-12">
                <h4 class="text-center">Addons</h4>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-6" v-for="(addon, index) in addonValue" :key="index">
                                <div v-for="(key, index) in addon" :key="index" class="form-group">
                                    <label>Select {{ index }}</label>
                                    <select class="form-control" @change="onChange(key, $event)"
                                        v-if="index == 'Lanyard Fitting'">
                                        <option value="0">Select Option</option>
                                        <option v-for="(key1, value, index) in key" :key="index" :value="key1">
                                            {{ key1.lanyard_fitting_name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="" style="display: block">
                            {{ price }} -- {{ totalPrice }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 100px;">
            <div class=" btn_previous_rec">
                <Previous :savePrevious="moveprevious" :isPrevious="showPrevious">
                    <i class="arrow_grey"></i>
                </Previous>
            </div>
            <Button :save="nextField" :btnclass="['btn1', 'btn_next_rec', 'btn_next2']">
                <template #icon> Next <i class="zmdi zmdi-arrow-left"></i> </template>
            </Button>
        </div>
    </div>
    </div>
</template>
<script lang="ts">
    import Previous from './common/Previous.vue';
    import Button from './common/Button.vue';
    export default {
        components: {
            Previous,
            Button
        },
        props: {
            addonData: {
                type: Array,
                default: () => ([])
            }
        },
        data() {
            return {
                addonValue: [],
                price: 0
            }
        },
        methods: {
            onChange(index, event) {
                console.log('Selected Object -> ', event.target.value, '---------', index);
                this.price += event.target.value;
            },
            nextField() {
                localStorage.setItem('activeField', 'addons');
                // localStorage.setItem('addonsData', JSON.stringify(this.canvasData.data1));
                this.$store.state.summaryblock.display = true;
                this.$store.state.addonsblock.display = false;
                this.$store.state.activeBlock = 'summaryblock';
            },
            moveprevious() {
                this.$store.state.customizationblock.display = true;
                this.$store.state.addonsblock.display = false;
                this.$store.state.activeBlock = 'customizationblock';
            },
        },
        computed: {
            showPrevious: function () {
                return this.$store.state.addonsblock.disablePrevious;
            },
        },
        mounted() {
            var that = this;
            that.addonData.map(function (obj) {
                that.addonValue.push(obj);
            });
        }
    }
</script>
<style scoped>

</style>