<template>
  <div>
    <img src="https://resources.excelidcardsolutions.com/images/eids_logo.png" style="margin: 0px auto; width: 250px; height: auto;" class="logo" alt="ExcelIDSolutions Logo">
    <hr />
    <div class="base relative">
      <!-- <progressbar /> -->
      <div class="base1">
        <FadeTransition>
          <Customization
            :canvas-data="customizationData"
            v-if="isCustomization"
          ></Customization>
        </FadeTransition>
        <!-- <FadeTransition>
          <LanyardDetail v-if="isLanyards"></LanyardDetail>
        </FadeTransition> -->
        <FadeTransition>
          <Summary
            v-if="isSummary"
            :productjobsize="productJobSize"
          ></Summary>
        </FadeTransition>
      </div>
    </div>
    <Loader :visible="loader"></Loader>
  </div>
</template>

<script>
import Progressbar from 'vueBasePath/components/common/Progressbar.vue';
import FadeTransition from 'vueBasePath/components/common/FadeTransition.vue';
import Customization from 'vueBasePath/components/CustomizationDetail.vue';
import LanyardDetail from 'vueBasePath/components/LanyardDetail.vue';
import Summary from 'vueBasePath/components/Summary.vue';
import Loader from 'vueBasePath/components/common/Loader.vue';
// import * as  AxiosService from '../common/AxiosService';
import axios from 'axios';

axios.defaults.xsrfCookieName = 'csrftoken';
axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';

const apiClient = axios.create({
    baseURL: `${process.env.MIX_VUE_APP_ENV_URL}`,
    withCredentials: false, // This is the default
    headers: {
        Accept: 'application/json',
        'Content-Type': 'application/json'
    }
});


export default {
  components: {
    // CustomizationBack,
    FadeTransition,
    Customization,
    Progressbar,
    // Addons,
    Summary,
    // Lanyards
    Loader,
    LanyardDetail
  },
  props: {
    customizationData: {
      type: Object,
      required: true,
    },
    productData: {
      type: Object,
      required: true
    },
    productJobSize: {
      type: Array,
      required: true
    },
    sessionId: {
      type: String,
      required: true,
    },
    userId: {
      type: [String, Object],
      required: false,
    },
  },
  data() {
    return {
      data: this.customizationData.data,
    };
  },
  computed: {
    isCustomization: function () {
      return this.$store.state.customizationblock.display;
    },
    isSummary: function () {
      return this.$store.state.summaryblock.display;
    },
    totalPrice: function() {
        return this.$store.state.totalPrice;
    },
    loader: function() {
        return this.$store.state.loader;
    }
  },
  mounted() {
    this.$store.dispatch("customizationblock/setCustomizationOData", this.customizationData);
    this.$store.dispatch("setSessionData", this.sessionId);
    this.$store.dispatch("setUserData", this.userId);
    this.$store.dispatch("setProductDetail", this.productData);
    this.$store.dispatch('summaryblock/setAddOns', this.productData.addonstables);
  },
  created() {
    // localStorage Concept
    let pid = localStorage.getItem('projectId') || '';
    if (pid) {
        // generate loader
        this.$store.dispatch('loaderAction', true);
        // end loader
        apiClient.get(`${process.env.MIX_VUE_APP_ENV_URL}project/${pid}/status`).then( res => {
            if (res.status == 200 || res.status == 201) {
              this.$store.dispatch("customizationblock/setCustomizationOData", this.customizationData);
              this.$store.dispatch('customizationblock/setCustomizationFrontData', res.data.data);
                this.$store.dispatch('getInitialData', { statusData: res.data});
                this.$store.dispatch('loaderAction', false);
                this.$store.dispatch('next');
            }
        }, err => {
          this.$store.dispatch('loaderAction', false);
        });
    }
    // let activeField = localStorage.getItem("activeField");
    // let customizationData = JSON.parse(
    //   localStorage.getItem("customizationData")
    // );
    // let customizationBackData = JSON.parse(
    //   localStorage.getItem("customizationBackData")
    // );
    // // let addonsData = JSON.parse(localStorage.getItem('addonsData'));
    // let summaryData = JSON.parse(localStorage.getItem("summaryData"));
    // if (customizationData !== undefined) {
    //   this.$store.dispatch(
    //     "customizationblock/setCustomizationData",
    //     customizationData
    //   );
    // }
    // if (customizationBackData !== undefined) {
    //   this.$store.dispatch(
    //     "customizationblock/setCustomizationData2",
    //     customizationBackData
    //   );
    // }
    // if (addonsData !== undefined) {
    //     this.$store.dispatch('customizationblock/setCustomizationData', addonsData);
    // }
    // if (summaryData !== undefined) {
    //   this.$store.dispatch(
    //     "customizationblock/setCustomizationData",
    //     summaryData
    //   );
    // }
    // switch (activeField) {
    //   case "customization":
    //     this.$store.state.activeBlock = "customizationblock";
    //     this.$store.state.customizationblock.display = false;
    //     this.$store.state.customizationblock.display2 = true;
    //     this.$store.state.summaryblock.display = false;
    //     break;
    //   case "customizationBack":
    //     // this.$store.state.activeBlock = 'addons';
    //     // this.$store.state.customizationblock.display = false;
    //     // this.$store.state.customizationblock.display2 = false;
    //     // this.$store.state.summaryblock.display = false;
    //     this.$store.state.activeBlock = "summaryblock";
    //     this.$store.state.customizationblock.display = false;
    //     this.$store.state.customizationblock.display2 = false;
    //     this.$store.state.summaryblock.display = true;
    //     break;
    //   // case 'addons':
    //   //     this.$store.state.activeBlock = 'summary';
    //   //     this.$store.state.customizationblock.display = false;
    //   //     this.$store.state.customizationblock.display2 = false;
    //   //     this.$store.state.summaryblock.display = true;
    //   //     break;
    //   case "summary":
    //     this.$store.state.customizationblock.display = false;
    //     this.$store.state.customizationblock.display2 = false;
    //     this.$store.state.summaryblock.display = true;
    //     break;
    // }
  },
};
</script>
<style lang="scss">
/* @import '../sass/appVue.scss'; */
</style>
