<template>
    <div class="">
        <FadeTransition>
         <Customization  :canvas-data="canvasData" v-if="isCustomization" ></Customization>
        </FadeTransition>
        <FadeTransition>
            <CustomizationBack :canvas-data="canvasData" v-if="isCustomizationBack"></CustomizationBack>
        </FadeTransition>
    </div>
</template>
<script>
import Loaderone  from 'vueBasePath/components/common/Loaderone.vue';
import FadeTransition from "vueBasePath/components/common/FadeTransition.vue";
const Customization = () => ({
    component: import('vueBasePath/components/customization/Customization.vue'),
    loading: Loaderone
});

const CustomizationBack = () => ({
    component: import('vueBasePath/components/customization/CustomizationBack.vue'),
    loading: Loaderone
});
export default {
    components: {
        Customization,
        CustomizationBack,
        FadeTransition
    },
    props: {
        canvasData: {
            type: Object,
            required: true
        }
    },
    computed: {
        isCustomization: function() {
            let activeField = this.$store.getters['customizationblock/activeBlock'];
            if (activeField == 'customization') { return true;  }
            else return false;
        },
        isCustomizationBack: function() {
            let activeField = this.$store.getters['customizationblock/activeBlock'];
            if (activeField == 'customizationBack') { return true;  }
            else return false;
        }
    },
     data() {
        return {};
    },
    methods: {
        moveprevious() {
            this.$store.dispatch('previous');
        }
    },
}
</script>
<style lang="scss"></style>
