<template>
    <div class="" style="width:80%">
        <FadeTransition>
            <Lanyards v-if="isLanyardField"></Lanyards>
        </FadeTransition>
        <FadeTransition>
            <Size v-if="isLanyardSize"></Size>
        </FadeTransition>
         <FadeTransition>
            <Hook v-if="isLanyardHook"></Hook>
        </FadeTransition>
    </div>
</template>
<script>
import Loaderone  from 'vueBasePath/components/common/Loaderone.vue';
import FadeTransition from "vueBasePath/components/common/FadeTransition.vue";
import Lanyards from 'vueBasePath/components/lanyard/Lanyards.vue';
import Hook from 'vueBasePath/components/lanyard/Hooks.vue';
const Size = () => ({
    component: import('vueBasePath/components/lanyard/Size.vue'),
    loading: Loaderone
});
export default {
    components: {
        Lanyards,
        FadeTransition,
        Size,
        Hook
    },
    computed: {
        isLanyardField: function() {
            let activeField =  this.$store.getters['lanyardblock/activeBlock'];
            if ( activeField == 'lanyardField' ) return true;
            else return false;
        },
        isLanyardSize: function() {
            let activeField =  this.$store.getters['lanyardblock/activeBlock'];
            if ( activeField == 'lanyardSize' ) return true;
            else return false;
        },
        isLanyardHook: function() {
            let activeField =  this.$store.getters['lanyardblock/activeBlock'];
            if ( activeField == 'lanyardHook' ) return true;
            else return false;
        }
    }
}
</script>