<template>
    <div>
        <div class="container-fluid summaryPage" style="padding: 10px; width:90vw">
            <!-- <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Summary</h3>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-5">
                    <h4 class="text-center">Design Selected</h4>
                    <img crossOrigin="Anonymous" :src="templateImage" style="width: 90%; height: auto" />
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="" style="position:absolute; right: 10px; text-transform: uppercase">
                            <div class="form-group">
                                <label class=""><b>Price : Rs. {{ price }}</b></label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class=""><label>Product</label> - <span
                                    class="uppercase">{{ product.product_name }}</span> </label>
                        </div>
                        <div class="col-md-12" v-if="product.category">
                            <label class=""><label>Category</label> - <span
                                    class="uppercase">{{ product.category.category_title }}</span> </label>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" :class="{ 'error-label': $v.projectName.$error }">
                                <label>Project Name</label>
                                <input type="text" class="form-control border-grey" v-model="projectName" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Job Size</label>
                                <select class="form-control border-grey" name="jobSize" v-model="sizeId">
                                    <option v-for="qtyprice in productSizeList" :key="qtyprice.id" :value="qtyprice.id">
                                        {{ qtyprice.size_name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quantity</label>
                                <select class="form-control border-grey" name="jobQty" v-model="quantityId"
                                    @change="onQuantitySelection($event)">
                                    <option v-for="qtyprice in quantityList" :key="qtyprice.id" :value="qtyprice.id">
                                        {{ qtyprice.quantity }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="printTypeList.length > 0">
                            <div class="form-group">
                                <label>Printing</label>
                                <select class="form-control border-grey" name="printingType" v-model="printTypeId" @change="onPrintingSelection($event)">
                                    <option v-for="printType in printTypeList" :key="printType.id"
                                        :value="printType.id">{{ printType.printing_type }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="lanyardList.length > 0">
                            <div class="form-group">
                                <label>Do you want Lanyard</label>
                                <select class="form-control border-grey" v-model="lanyardChoiceSelection" @change="onLanyardSelectionChoice($event)">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="lanyardChoiceSelection && lanyardList.length > 0">
                            <div class="form-group">
                                <label>Lanyard Style</label>
                                <select class="form-control border-grey" name="lanyardStyle" v-model="lanyardId"
                                    @change="onLanyardSelection($event)">
                                    <option value="0">No Lanyard</option>
                                    <option v-for="lanyardStyle in lanyardList" :key="lanyardStyle.id"
                                        :value="lanyardStyle.id">{{ lanyardStyle.product_name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="lanyardChoiceSelection && lanyardSizeList.length > 0">
                            <div class="form-group">
                                <label>Lanyard Size</label>
                                <select class="form-control border-grey" name="lanyardSize">
                                    <option v-for="lanyardSize in lanyardSizeList" :key="lanyardSize.id">
                                        {{ lanyardSize.lanyard_fitting_size }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="lanyardChoiceSelection && hooksList.length > 0">
                            <div class="form-group">
                                <label>Lanyard Hooks</label>
                                <select class="form-control border-grey uppercase" name="lanyardHook">
                                    <option v-for="lanyardHook in hooksList" :key="lanyardHook.id">
                                        {{ lanyardHook.hooks_name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="variableDataVisibility == 1">
                            <div class="form-group">
                                <label>Variable Data</label>
                                <select class="form-control border-grey uppercase" name="variable_data"
                                    v-model="variableDataBoolean">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="variableDataVisibility == 1 && variableDataBoolean == 'Yes'">
                            <div class="form-group">
                            <button data-toggle="modal" data-target="#uploadFileModal" class="btn btn-outline-info"
                                type="button" v-if="variableDataBoolean=='Yes'" style="margin-left:10px">Upload
                                Variable Data</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 80px;">
                <div class=" btn_previous_rec">
                    <Previous :savePrevious="moveprevious" :isPrevious="showPrevious">
                        <i class="arrow_grey"></i>
                    </Previous>
                </div>
                <Button :save="nextField" :btnclass="['btn1', 'btn_next_rec', 'btn_next2', 'width-100']">
                    <template #icon> Finish <i class="fa fa-arrow-right"></i> </template>
                </Button>
                <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog"
                    aria-labelledby="uploadFileModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="uploadFileModalTitle">Upload File</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Supported Format(Excel Sheet)</label>
                                        <input type="file" class="btn"
                                            @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                                            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                            name="uploadFieldName" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Supported Format(Zip)</label>
                                        <input type="file" class="btn"
                                            @change="filesChangeImages($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                                            accept=".zip,.rar,.7zip" name="uploadFieldName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
    import Previous from './common/Previous.vue';
    import Button from './common/Button.vue';
    import * as $ from 'jquery';
    import {
        required
    } from 'vuelidate/lib/validators'
    import axios from 'axios';

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';

    const apiClient = axios.create({
        baseURL: `${process.env.MIX_VUE_APP_ENV_URL}`,
        withCredentials: false, // This is the default
        headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json'
        }
    });

    export default {
        components: {
            Previous,
            Button
        },
        props: {
            productjobsize: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                product: '',
                quantityId: '',
                sizeId: '',
                sizeName: '',
                lanyardId: '',
                lanyardSizeId: '',
                price: 0,
                projectName: '',
                variableDataBoolean: '',
                variableData: '',
                imageData: '',
                textData: '',
                templateDesignSelected: '',
                lanyardList: [],
                lanyardSizeList: [],
                hooksId: '',
                hooksList: [],
                priceObject: {},
                productSizeList: [],
                quantityList: [],
                variableDataVisibility: 0,
                selectJobSize: {},
                lanyardChoiceSelection: true,
                printTypeList: [],
                printTypeId: ''
            }
        },
        mounted() {},
        methods: {
            checkArrayforString(array, string) {
                return array.find(element => element == string);
            },
            callRespectedDataApi() {

            },
            sumPrice(obj) {
                var sum = 0;
                for (var el in obj) {
                    if (obj.hasOwnProperty(el)) {
                        sum += parseFloat(obj[el]);
                    }
                }
                return sum;
            },
            onQuantitySelection(event) {
                this.selectJobSize.job_qty_price.forEach(qty => {
                    if (qty.id == event.target.value) {
                        // this.price = qty.price;
                        this.priceObject.qty = qty.price;
                        this.price = this.sumPrice(this.priceObject)
                    }
                });
            },
            onLanyardSelectionChoice(event) {
                let selection = event.target.value;
                if (selection == 'true') {
                    this.lanyardChoiceSelection = true;
                } else {
                    this.lanyardChoiceSelection = false;
                }
            },
            onLanyardSelection(event) {
                this.lanyardId = event.target.value;
                this.lanyardList.forEach(element => {
                    if (element.id == this.lanyardId) {
                        this.lanyardSizeId = element.lanyard_sizes ? element.lanyard_sizes[0].id : 0;
                        this.lanyardSizeList = element.lanyard_sizes ? element.lanyard_sizes : [];
                        const selectedLanyard = this.lanyardId + '_' + this.lanyardSizeId;
                        this.$store.dispatch('loaderAction', true);
                        apiClient.get(
                            `${process.env.MIX_VUE_APP_ENV_URL}project/lanyard/${selectedLanyard}/hooks/list`
                            ).then(res => {
                            if (res.status == 200 || res.status == 201) {
                                this.hooksList = res.data;
                                this.hooksId = this.hooksList[0].id;
                                this.priceObject.addLanyardPrice = this.hooksList[0].price;
                                this.price = this.sumPrice(this.priceObject)
                                this.$store.dispatch('loaderAction', false);
                            }
                        }).catch(err => {
                            this.$store.dispatch('loaderAction', false);
                        });
                    }
                });
            },
            upperCaseUpper: function (text) {
                return text.toUpperCase();
            },
            nextField() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    if (this.variableDataBoolean == 'Yes') {
                        if (this.textData == '' || this.imageData == '') {
                            $('#uploadFileModal').modal('show');
                            return;
                        }
                    }
                    let pid = localStorage.getItem('projectId');
                    let formData = new FormData();
                    formData.append('project_name', this.projectName);
                    formData.append('job_size', this.sizeId);
                    formData.append('quantity', this.quantityId);
                    formData.append('variable_data', this.variableDataBoolean);
                    formData.append('price', this.price);
                    if (this.variableDataBoolean == 'Yes') {
                        formData.append('image_file_path', this.imageData);
                        formData.append('text_file_path', this.textData);
                    }
                    formData.append('printingType', this.printTypeId);
                    if (this.lanyardChoiceSelection && this.product.id == 1 || this.product.id == 2) {
                        formData.append('lanyardStyle', this.lanyardId);
                        formData.append('lanyardSize', this.lanyardSizeId);
                        formData.append('lanyardHook', this.hooksId);
                    }
                    // console.log('Field Datas', formData.values());
                    this.$store.dispatch('loaderAction', true);
                    apiClient.post(`${process.env.MIX_VUE_APP_ENV_URL}projects/design/${pid}/order/temp/save`,
                        formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                        .then(res => {
                            if (res.status == 200 || res.status == 201) {
                                this.$store.dispatch('loaderAction', false);
                                let tempData = {
                                    project_name: this.projectName,
                                    job_size: this.sizeId,
                                    quantity: this.quantityId,
                                    variable_data: this.variableDataBoolean,
                                }
                                if (this.product.id == 1 || this.product.id == 2) {
                                    tempData['lanyardStyle'] = this.lanyardId;
                                    tempData['lanyardSize'] = this.lanyardSizeId;
                                    tempData['lanyardHook'] = this.hooksId;
                                }
                                this.$store.dispatch('summaryblock/setSummaryData', tempData);
                                this.$store.dispatch('summaryblock/setBlockSaved', true);
                                this.$store.dispatch('next');
                            }
                        }).catch(error => {
                            this.$store.dispatch('loaderAction', false);
                            console.log(Error, 'Error');
                        });
                }
            },
            moveprevious() {
                this.$store.dispatch('previous');
            },
            filesChange(fieldName, fileList) {
                // handle file changes
                // this.textData = new FormData();

                if (!fileList.length) return;

                // append the files to FormData
                // Array
                //     .from(Array(fileList.length).keys())
                //     .map(x => {
                //         formData.append(fieldName, fileList[x], fileList[x].name);
                //     });

                // // save it
                // console.log('formData', formData);
                // this.textData.append('name', fieldName);
                // this.textData.append('file', fileList[0]);
                this.textData = fileList[0];
            },
            filesChangeImages(fieldName, fileList) {
                // handle file changes
                // this.imageData = new FormData();

                if (!fileList.length) return;

                // append the files to FormData
                // Array
                //     .from(Array(fileList.length).keys())
                //     .map(x => {
                //         formData.append(fieldName, fileList[x], fileList[x].name);
                //     });

                // // save it
                // console.log('formData', formData);
                // this.save(formData);
                // this.imageData.append('name', fieldName);
                // this.imageData.append('file', fileList[0]);
                this.imageData = fileList[0];
            },
        },
        computed: {
            showPrevious: function () {
                return this.$store.state.summaryblock.disablePrevious;
            },
            templateImage: function () {
                return this.$store.state.customizationblock.templateUrlImg || this.$store.state.customizationblock.originalData.fill_template1;
            },
        },
        validations: {
            projectName: {
                required
            },
            quantityId: {
                required
            },
            sizeId: {
                required
            }
        },
        created() {
            this.product = this.$store.getters['productDetail'];
            this.variableDataBoolean = this.product.variableData ? 'Yes' : 'No'
            this.variableDataVisibility = this.product.variableData;
            this.sizeId = this.productjobsize[0].id;
            this.sizeName = this.productjobsize[0].size_name;
            this.productSizeList = this.productjobsize;
            this.selectJobSize = this.productjobsize[0];
            this.quantityId = this.productjobsize[0].job_qty_price.length > 0 ? this.productjobsize[0].job_qty_price[0].id : [];
            this.quantityList = this.productjobsize[0].job_qty_price;
            this.priceObject.qty = this.productjobsize[0].job_qty_price.length > 0 ? this.productjobsize[0].job_qty_price[0].price : 0.0;
            this.price = this.sumPrice(this.priceObject);
            let productId = this.product.id;
            this.callRespectedDataApi(productId);
            let addons = this.$store.getters['summaryblock/addons'] || [];
            if (addons && addons.length > 0) {
                addons.forEach(element => {
                    switch (element.addon_name) {
                        case 'printingType':
                            this.$store.dispatch('loaderAction', true);
                            apiClient.get(
                                `${process.env.MIX_VUE_APP_ENV_URL}project/quantity/${this.quantityId}/print-type/list`
                                ).then(res => {
                                if (res.status == 200 || res.status == 201) {
                                    this.printTypeList = res.data;
                                    this.printTypeId = res.data[0].id;
                                    this.priceObject.printType = res.data[0].price;
                                    this.price = this.sumPrice(this.priceObject);
                                    this.$store.dispatch('loaderAction', false);
                                }
                            }).catch(err => {
                                this.$store.dispatch('loaderAction', false);
                            });
                            break;
                        case 'lanyard':
                            this.$store.dispatch('loaderAction', true);
                            apiClient.get(`${process.env.MIX_VUE_APP_ENV_URL}project/lanyard/list`).then(
                            res => {
                                if (res.status == 200 || res.status == 201) {
                                    this.lanyardList = res.data;
                                    this.lanyardId = this.lanyardList[0].id;
                                    this.lanyardSizeId = this.lanyardList[0].lanyard_sizes ? this.lanyardList[0].lanyard_sizes[0].id : 0;
                                    this.lanyardSizeList = this.lanyardList[0].lanyard_sizes ? this.lanyardList[0].lanyard_sizes : [];
                                    let hooksTrue = this.checkArrayforString(addons, 'hooks');
                                    if (hooksTrue != '' && this.lanyardId && this.lanyardSizeId) {
                                        this.$store.dispatch('loaderAction', true);
                                        const selectedLanyard = this.lanyardId + '_' + this.lanyardSizeId;
                                        apiClient.get(
                                            `${process.env.MIX_VUE_APP_ENV_URL}project/lanyard/${selectedLanyard}/hooks/list`
                                            ).then(res => {
                                            if (res.status == 200 || res.status == 201) {
                                                this.hooksList = res.data;
                                                this.hooksId = this.hooksList[0].id;
                                                this.priceObject.addLanyardPrice = this.hooksList[0].price;
                                                this.price = this.sumPrice(this.priceObject)
                                                this.$store.dispatch('loaderAction', false);
                                            }
                                        }).catch(err => {
                                            this.$store.dispatch('loaderAction', false);
                                        });
                                    }
                                }
                            }).catch(err => {
                                this.$store.dispatch('loaderAction', false);
                            });
                            break;
                        case 'hooks':
                            let lanyardId = this.product.id;
                            this.lanyardId = lanyardId;
                            let lanyardSizeId = 0;
                            this.$store.dispatch('loaderAction', true);
                            apiClient.get(
                                    `${process.env.MIX_VUE_APP_ENV_URL}project/lanyard/${lanyardId}/size/list`)
                                .then(res => {
                                    if (res.status == 200 || res.status == 201) {
                                        // this.lanyardSizeList = res.data;
                                        lanyardSizeId = res.data[0].id;
                                        let hooksTrue = this.checkArrayforString(addons, 'hooks');
                                        if (hooksTrue != '' && lanyardId && lanyardSizeId) {
                                            this.$store.dispatch('loaderAction', true);
                                            const selectedLanyard = lanyardId + '_' + lanyardSizeId;
                                            apiClient.get(
                                                `${process.env.MIX_VUE_APP_ENV_URL}project/lanyard/${selectedLanyard}/hooks/list`
                                                ).then(res => {
                                                if (res.status == 200 || res.status == 201) {
                                                    this.hooksList = res.data;
                                                    this.hooksId = this.hooksList[0].id;
                                                    this.priceObject.hookPrice = this.hooksList[0].price;
                                                    this.price = this.sumPrice(this.priceObject);
                                                    this.$store.dispatch('loaderAction', false);
                                                }
                                            }).catch(err => {
                                                this.$store.dispatch('loaderAction', false);
                                            });
                                        }
                                    }
                                }).catch(err => {
                                    this.$store.dispatch('loaderAction', false);
                                });
                            break;
                        default:
                            ''
                    }
                });
            }
        }
    }
</script>
<style scoped>

</style>
