<template>
    <label :data-label="label" :name="name" @click="save">
        <span v-if="buttonclass" :class="buttonclass"></span>
        {{ text }}
        <div class="tick_base">
            <i class="zmdi zmdi-check"></i>
        </div>
    </label>
</template>

<script>
export default {
    props: {
        label: {
            type: String,
            default: ''
        },
        name: {
            type: String,
            default: ''
        },
        text: {
            type: String,
            default: ''
        },
        save: {
            type: Function,
            default: function() {}
        },
        buttonclass: {
            type: String,
            default: ''
        },
        value: [String, Number]
    },
    data() {
        return {
            isActive: false
        };
    }
};
</script>

<style></style>
