<template>
    <component :is="type" :href="href" :class="btnclass" @click="save">
        <slot></slot>
        <slot name="continue"></slot>
    </component>
</template>

<script>
export default {
    props: {
        href: {
            type: String,
            default: null
        },
        to: {
            type: String,
            default: null
        },
        save: {
            type: Function
        },
        btnclass: {
            type: Array
        }
    },
    computed: {
        type() {
            if (this.href) return 'a';
            else return 'button';
        }
    }
};
</script>

<style lang="scss"></style>
