<template>
    <transition name="fade" v-bind="$attrs" v-on="$listeners" mode="out-in">
        <slot></slot>
    </transition>
</template>
<script>
export default {};
</script>
<style lang="scss">
.fade-enter-active {
    transition: opacity 1.5s;
}

.fade-leave-active {
    opacity: 0;
}

.fade-enter {
    opacity: 0;
    transform: translateX(100px);
}

.fade-leave-to {
    opacity: 0;
    transform: translateX(100px);
}
</style>
