<template>
    <div class="overlay_loader1">
        <div class="container1">
            <div class="loader1">
                <div class="loader1--dot"></div>
                <div class="loader1--dot"></div>
                <div class="loader1--dot"></div>
                <div class="loader1--dot"></div>
                <div class="loader1--dot"></div>
                <div class="loader1--dot"></div>
                <div class="loader1--text"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>
<style lang="scss" scoped>
// @import 'vueBasePath/mobile/assets/scss/variable.scss';
// $color-background: #eaecfa;
// $color-loader: #ce4233;
.overlay_loader1 {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s;
}
.container1 {
    height: 100vh;
    width: 100vw;
    // font-family: $font-family;
}

.loader1 {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loader1--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    // background-color: ;
    position: absolute;
    border: solid 1px white;
}
.loader1--dot:first-child {
    background-color: #ecf3fa;
    animation-delay: 0.5s;
}
.loader1--dot:nth-child(2) {
    background-color: #d9eafd;
    animation-delay: 0.4s;
}
.loader1--dot:nth-child(3) {
    background-color: #ccddfc;
    animation-delay: 0.3s;
}
.loader1--dot:nth-child(4) {
    background-color: #bfd5fe;
    animation-delay: 0.2s;
}
.loader1--dot:nth-child(5) {
    background-color: #a2c0f7;
    animation-delay: 0.1s;
}
.loader1--dot:nth-child(6) {
    background-color: #729ae3;
    animation-delay: 0s;
}
// .loader--text {
//     position: absolute;
//     top: 200%;
//     left: 0;
//     right: 0;
//     width: 4rem;
//     margin: auto;
// }
// .loader--text:after {
//     content: 'Loading';
//     font-weight: normal;
//     animation-name: loading-text;
//     animation-duration: 3s;
//     animation-iteration-count: infinite;
// }

@keyframes loader {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(230px);
    }
    65% {
        transform: translateX(230px);
    }
    95% {
        transform: translateX(0);
    }
}
// @keyframes loading-text {
//     0% {
//         content: 'Loading';
//     }
//     25% {
//         content: 'Loading.';
//     }
//     50% {
//         content: 'Loading..';
//     }
//     75% {
//         content: 'Loading...';
//     }
// }
</style>
