<template>
    <div class="overlay_loader" :class="{ 'overlay_loader--visible': visible }">
        <div class="container">
            <div class="loader">
                <div class="loader--dot"></div>
                <div class="loader--dot"></div>
                <div class="loader--dot"></div>
                <div class="loader--dot"></div>
                <div class="loader--dot"></div>
                <div class="loader--dot"></div>
                <div class="loader--text"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Loader',
    props: ['visible']
};
</script>
<style lang="scss" scoped>
// @import url('vueBaseCSSPath/loaderVue.scss');
@import '~vueBaseSassPath/loaderVue.scss';
</style>
