<template>
    <span class="fa fa-arrow-left" @click="savePrevious" v-if="isPrevious"> <slot></slot> Previous </span>
</template>

<script>
export default {
    props: {
        savePrevious: {
            type: Function
        },
        isPrevious: {
            type: Boolean,
            default: false
        }
    }
};
</script>

<style lang="scss"></style>
