<template>
    <div class="container stepping">
        <ul>
            <li v-for="(step, index) in totalSteps" :key="step.StepName">
                <div class="arrow-left arr-left" v-bind:class="isActive('activeStepp_left', index)"></div>
                <div class="block" v-bind:class="isActive('activeStepp_main', index)">
                    {{ step.stepName }}
                </div>
                <div class="arrow-right arr-right" v-bind:class="isActive('activeStepp_right', index)"></div>
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'
    export default Vue.extend({
        data() {
            return {
                totalSteps: [{
                        'stepName': 'CUSTOMIZATION',
                    },
                    // {
                    //     'stepName': 'ADD ONS',
                    // },
                    {
                        'stepName': 'SUMMARY',
                    }
                ],
                steps: ['customizationblock', 'summaryblock']
            }
        },
        methods: {
            isActive : function(type, index) {
                if ( this.$store.state.activeBlock == this.steps[index] ) {
                    return type;
                }
            }
        },
    })
</script>